




body {
  background-color: rgb(122, 156, 207);
}

h1 {
  color: rgb(62, 67, 77);
  margin-left: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(122, 156, 207);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #393535;
}

img {
  border-radius: 12px;
}

img {
  display: block;
  margin: auto;
  width: 15%;
}











